header {
    display: flex;
    flex-direction: column;
    /* Направление элементов - колонка */
    justify-content: center;
    align-items: center;
    /* background-color: ; */
    /* Цвет фона шапки */
    /* color: #fff; */
    /* Цвет текста */
    padding: 32px 0px;
    text-align: center;
    font-family: Abel;
    font-size: 12px;
    color: #494949;

    /* Центрирование текста внутри шапки */
}

/* Стили для логотипа (ваш класс "logo") */
.logo {
    font-size: 24px;
    /* Размер шрифта логотипа */
    font-weight: bold;
    margin-bottom: 10px;
    /* Расстояние между логотипом и навигацией */
}

/* Стили для навигации (ваш класс "nav" и "nav ul") */
nav ul {
    list-style: none;
    /* padding-left: 787px; */
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
    /* Расстояние между элементами навигации */
}

nav a {
    text-decoration: none;
    color: #fff;
    /* Цвет ссылок навигации */
}

/* При наведении на ссылки */
nav a:hover {
    text-decoration: underline;
    /* Добавление подчеркивания при наведении */
}